@mixin base-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin base-flex {
  display: flex;
  justify-content: center;
}

@mixin column-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
