$main-font: "Yusei Magic", sans-serif;
$text-font: "Open Sans", sans-serif;
$main-red: rgb(253, 76, 85);
$main-blue: rgb(0,192,249);
$dark-teal: rgb(0,212,197);
$hover-teal: rgb(171, 237, 232);
$hover-red: rgb(255, 223, 216);
