@import 'buttons', 'media-queries', 'mixins', 'text', 'variables', 'darkMode', 'detailed-displays', 'booking', 'login';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yusei+Magic&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark-mode-container {
  flex-direction: row-reverse;
}

body>div {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

.total {
  text-align: center;
}

.dashboard article {
  @include base-flex;
  align-items: center;
}

.past-trips div {
  margin-left: 11vw;
}

footer {
  @include base-flex;
}

.hidden {
  display: none!important;
}
